@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Pacifico&family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

body {
  background: linear-gradient(190deg, #ff6bbf, #f9f9f9);
  margin: 0;
  font-family: 'Poppins', 'Pacifico', 'Quicksand', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.nextPageBtn > button {
  padding: 15px 30px;
  font-size: 20px; /* Aumentei o tamanho da fonte */
  font-family: 'Poppins', sans-serif; /* Corrigido a definição da fonte */
  background-color: #ff6bbf;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adicionando a transição */
}

.styledButton:hover {
  background-color: #d63b93;
}

.nextPageBtn > footer {
  font-size: 14px; /* Aumentei o tamanho da fonte */
  font-family: 'DM Serif Display', serif;
}

.sobre-feira-um {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding: 20px;
  letter-spacing: 0;
  border-radius: 10px;
  opacity: 1;
  color: #333;
}

.welcome-text {
  font-family: 'Pacifico', monospace;
  letter-spacing: 2.2px;
  margin-bottom: 20px;
  font-weight: normal; /* Alterei para a fonte ser normal em vez de "light" */
  background: #00000000;
  align-items: center;
  align-self: center;
  justify-content: center;
  text-align: center;
  color: #ffffffdf; /* Adicionando a cor branca ao texto */
  flex: 1;/* Espaçamento à direita para evitar sobreposição com a lista */
}

/* Adicionando media query para dispositivos móveis */
@media (max-width: 768px) {
  body {
    font-size: 16px; /* Reduzindo o tamanho da fonte para dispositivos móveis */
  }

  .container {
    flex-direction: column; /* Mudando a direção do layout para empilhado em dispositivos móveis */
  }

  .nextPageBtn > button {
    padding: 12px 25px; /* Ajustando o padding do botão para dispositivos móveis */
    font-size: 18px; /* Ajustando o tamanho da fonte do botão para dispositivos móveis */
  }

  .sobre-feira-um {
    font-size: 18px; /* Ajustando o tamanho da fonte para dispositivos móveis */
  }

  .welcome-text {
    font-size: 26px; /* Ajustando o tamanho da fonte para dispositivos móveis */
  }

  .sobre-feira-dois,
  .sobre-feira-três {
    font-size: 16px; /* Ajustando o tamanho da fonte para dispositivos móveis */
  }

  /* Adicione outros estilos para divs conforme necessário */
}
